@{
    ViewData["Title"] = "Chi chiết sản phẩm";
}
@model _188204__BT2.Models.CollectionDataModel;

<section>
    <ul class="breadcrumb">
        <li><a>Đồ chơi</a> </li>
        <li><a>Đồ chơi lego </a></li>
    </ul>
    <div class="detail">
        <div class="detail__left">
            <div class="box_fotorama">
                <div class="main-imgs">
                    @foreach (var i in @Model.ProductDeatail.DetailProduct.Imagethump)
                    {
                        <img src="@i.Img" class="main-img" />
                    }
                </div>
                <div class="gallery">
                    @foreach (var i in @Model.ProductDeatail.DetailProduct.Imagethump)
                    {
                        <img src="@i.Img" />
                    }

                </div>
                <div class="count">
                    <span class="count-current"></span>
                    <span class="count-total">@Model.ProductDeatail.DetailProduct.Imagethump.Count()</span>
                </div>
                <div class="prev-next-btn">
                    <span class="prev-btn"><i class="fa-solid fa-angle-left"></i></span>
                    <span class="next-btn"><i class="fa-solid fa-angle-right"></i></span>
                </div>
                <div class="zoom">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="info__product">
                <div class="article__content">
                    <h2 class="article__content__title">thông tin sản phẩm</h2>
                    <h3>Đặc điểm nổi bật</h3>
                    <ul>
                        @foreach (var i in @Model.ProductDeatail.DetailProduct.ProductFeatures)
                        {
                            <li>
                                <a href="/home/index">@i.NameFeatureLink</a> @i.NameFeature
                            </li>
                        }
                    </ul>
                    <h3>Hướng dẫn sử dụng</h3>
                    <ul>
                        @foreach (var i in @Model.ProductDeatail.DetailProduct.UseManual)
                        {
                            <li>
                                <a href="/home/index">@i.ContextLink</a> @i.Context
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="detail__right">
            <div class="box__productInfor">
                <div class="detail-title">
                    <h3>@Model.ProductDeatail.Name</h3>
                </div>
                <div class="detail-top">
                    <div class="detail-price">
                        <span class="price-current">@Model.ProductDeatail.Calcula()đ</span>
                        <span class="price-old">@Model.ProductDeatail.FormatPrice()đ</span>
                        <span class="price-percent">-@Model.ProductDeatail.Discount %</span>
                    </div>
                    <div class="product-code">#258922</div>
                </div>
                <div class="box-promo">
                    <p class="box-promo-text">Khuyến mãi (Đến 31/05)</p>
                    <ul class="box-promo-list">
                        <li class="divb">Nhập mã AVAKID giảm 10% tối đa 100.000đ cho đơn hàng từ 300.000đ trở lên khi thanh toán qua Ví Moca trên ứng dụng Grab <a href="#">(click xem chi tiết)</a></li>
                    </ul>
                </div>
                <div class="detail-btn">
                    <a class="btn btn-addCard">Thêm vào giỏ</a>
                    <a class="btn btn-viewStort">Xem của hàng còn hàng</a>
                </div>
            </div>
            <ul class="policy">
                @foreach (var i in @Model.ProductDeatail.DetailProduct.Policy)
                {
                    <li>
                        <i class="@i.Icon"></i>
                        <p>@i.NamePolicy</p>
                    </li>
                }
            </ul>
            <div class="info__detail">
                <p class="info__title">Thông tin chi tiết</p>
                <div class="info-content">
                    <ul class="info-article">
                        @foreach (var i in Model.ProductDeatail.DetailProduct.InfoTeach)
                        {
                            <li>
                                <p class="text1">@i.NameInfo</p>
                                @{
                                    if (@i.ValueInfo.Count >= 2)
                                    {
                                        <div class="text2-group">
                                            @foreach (var item in @i.ValueInfo)
                                            {
                                                <p class="dot">@item</p>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="text2">@i.ValueInfo[0]</p>
                                    }
                                }

                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-product">
        <p class="detail-product-title">Đồ chơi khác</p>
        <div class="product-Card">
            @foreach (var product in @Model.ProductList)
            {

                @await Component.InvokeAsync("ProductItem", product)
            }
        </div>
    </div>
    <div class="comment">
        <b class="cmt-title">Hỏi đáp về Đồ chơi trạm cảnh sát tuần tra và cứu hỏa biển Lego City 60308 (297 chi tiết)</b>
        <form>
            <div class="cmt-text">
                <textarea></textarea>
                <div class="info-container">
                    <div class="group-radios">
                        <div class="group-radio">
                            <input type="radio" />
                            <label>Anh</label>
                        </div>
                        <div class="group-radio">
                            <input type="radio" />
                            <label>Chị</label>
                        </div>
                    </div>
                    <div class="info-users">
                        <div class="info-user">
                            <input type="text" name="name" class="input-info" />
                            <label class="lb-name">Họ và tên</label>
                        </div>
                        <div class="info-user">
                            <input type="number" name="number" class="input-info" />
                            <label class="lb-name">Số điện thoại</label>
                        </div>
                        <div class="info-user">
                            <input type="email" name="Email" class="input-info" />
                            <label class="lb-name">Email</label>
                        </div>
                        <div class="bnt-submit">
                            <button type="submit" class="bt-submit">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<partial name="../Layout/commit.cshtml" />
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/slide.js"></script>